<div class="d-flex flex-row justify-content-center">
  <mat-card class="example-result-card">
    <mat-card-content>
      <h2>Konfiguration</h2>
      <h2
        matTooltip="{{ generateTooltip() }}"
        matTooltipPosition="after"
        matTooltipClass="error-tooltip"
      >
        Gesamtanzahl Felder: {{ getAllAvailableAreas() }}
        <span *ngIf="!validateSelection()" class="tooltip-icon">
          <mat-icon>error</mat-icon>
        </span>
      </h2>

      <div class="config-section">
        <mat-checkbox
          [checked]="getMondfeldValue()"
          (change)="setMondfeld($event)"
          >Besitzt Mondfeld</mat-checkbox
        >
      </div>
      <div *ngFor="let area of getHexagonType()" class="slider-container">
        <label class="slider-label"
          >{{ area.title }}: {{ getAreaValue(area.title) }}</label
        >
        <mat-slider
          class="custom-slider"
          [max]="area.maxAmount || defaultMaxSliderValue"
          [min]="area.minAmount || defaultMinSliderValue"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
          (change)="changeAreaValue(areaSlider.value, area.title)"
        >
          <input matSliderThumb [(ngModel)]="area.requiredAmount" #areaSlider />
        </mat-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
