<div class="d-flex flex-row justify-content-center">
  <mat-card class="example-result-card">
    <mat-card-content>
      <h2>Konfiguration</h2>
      <h2>Gesamtanzahl Felder: {{ getAllAvailableAreas() }}</h2>

      <div class="config-section">
        <mat-checkbox
          [checked]="getMondfeldValue()"
          (change)="setMondfeld($event)"
          >Besitzt Mondfeld</mat-checkbox
        >
      </div>
      <div *ngFor="let area of getHexagonType()" class="slider-container">
        <label class="slider-label"
          >{{ area.title }}: {{ getAreaValue(area.title) }}</label
        >
        <mat-slider
          class="custom-slider"
          [max]="area.requiredAmount"
          [max]="area.maxAmount || defaultMaxSliderValue"
          [min]="area.minAmount || defaultMinSliderValue"
          [discrete]="true"
          [showTickMarks]="true"
          (change)="changeAreaValue(area.title, areaSlider.value)"
        >
          <input matSliderThumb #areaSlider />
        </mat-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
