<div class="d-flex flex-row justify-content-center">
  <mat-card class="example-result-card">
    <mat-card-content>
      <h2>Konfiguration</h2>
      <h2>Gesamtanzahl Felder: {{ getAllAvailableAreas() }}</h2>

      <div class="config-section">
        <mat-checkbox
          [checked]="getMondfeldValue()"
          (change)="mondfeldExists($event)"
          >Besitzt Mondfeld</mat-checkbox
        >
      </div>

      <div class="slider-container">
        <label class="slider-label"
          >Schwemmland: {{ getSchwemmlandValue() }}</label
        >
        <mat-slider
          class="custom-slider"
          [max]="maxSliderValue"
          [min]="0"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
          (change)="changeSchwemmlandValue(schwemmlandSlider.value)"
        >
          <input matSliderThumb #schwemmlandSlider />
        </mat-slider>
      </div>
      <div class="slider-container">
        <label class="slider-label">Gebirge: {{ getGebirgeValue() }}</label>
        <mat-slider
          class="custom-slider"
          [max]="maxSliderValue"
          [min]="0"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
          (change)="changeGebirgeValue(gebirgeSlider.value)"
        >
          <input matSliderThumb #gebirgeSlider />
        </mat-slider>
      </div>
      <div class="slider-container">
        <label class="slider-label"
          >Meeresboden: {{ getMeeresbodenValue() }}</label
        >
        <mat-slider
          class="custom-slider"
          [max]="25"
          [min]="0"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
          (change)="changeMeeresbodenValue(meeresbodenSlider.value)"
        >
          <input matSliderThumb #meeresbodenSlider />
        </mat-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
